* {
    box-sizing: border-box;
}

.bg-dark{
    background: transparent !important;
    transition: .5s ease-out;
      
}
.bg-dark.scrolled {
   background: rgb(26, 25, 25) !important;  
}
.text-white{
    color: rgb(255, 255, 255) !important;
}
.carousel-item{
    height: 95vh;
    width: 100%;
    min-height: 600px;
    background: no-repeat center center  scroll;
    background-size: cover;
    position: relative;
  }

  @media (max-width:500px){
    .carousel-item{
        height: 100vh;
        width: 100%;
        min-height: 600px;
        background: no-repeat center center  scroll;
        background-size: cover;
        position: relative;
      }
    
   
  }
 .carousel-caption{
     text-align: center;
     bottom: 200px;
     position: absolute;
 }
 .carousel-caption h1{
     font-weight: 200;
 }
 .carousel-caption h4{
      font-weight: 400;
      font-size: 20px;
  }
  .carousel-caption .btn{
      border-radius: 16px;
      margin: 10px;
      padding: 5px 15px 5px 15px;

  }
.carousel-caption .btn-outline-light:hover{
    color:rgb(41, 170, 41) !important;

}

.carousel-caption .btn-light{
    color:rgb(41, 170, 41);
}
.carousel-caption .btn-light:hover{
    color: aliceblue;
    background-color: rgb(41, 170, 41) ;
    border: rgb(41, 170, 41) ;
}
 
@media (max-width:500px){
    .carousel-caption h4{
        display: none;
    }

}

.items{
    margin-top: 30px;
}

#about .btn-primary{
    color: aliceblue;
    background-color: rgb(41, 170, 41) ;
    border: rgb(41, 170, 41) ;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
    margin: 10px;
}
#about .container .border-bottom{
    border-bottom-width:10px;
}

.work{
    margin-left: 75px;
}
.work h5{
    font-weight: 600;
}
.work a{
    text-decoration: none;
    font-size: 13px;
    color: #000;
    font-weight: 600;
}
.work a:hover{
    color: rgb(41, 170, 41);
}

#subscribe{
    padding: 80px 0px;
    background-image: url(images/slide-02.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#subscribe .heading{
    text-align: center;
}

#subscribe h2{
    color: aliceblue;
    font-weight: 700;
}

#subscribe h5{
    color: aliceblue;
    font-weight: 300;
    font-size: medium;
}
#subscribe p{
    font-size: 15px;
    color: aliceblue;
    padding-top: 20px;
}
#subscribe input{
    background:transparent;
    width: 100%;
    border: 1px solid rgb(255, 242, 242);
    padding: 5px 20px;
    border-radius: 19px;
    color: #fff !important;
}

::placeholder{
    color: aliceblue;
}
#subscribe .btn{
    background-color: #fff;
    color: rgb(66, 197, 66);
    padding: 5px 40px;
    margin-left: 0px;
    border-radius: 19px;
    border:1px solid #fff
}

#subscribe .btn:hover{
    background-color: rgb(66, 197, 66);
    color: #fff;
    border:1px solid rgb(66,197,66);
}

#subscribe .col-md-4{
    margin-left: 0;

}
fieldset .btn{
    margin: 0px !important;
}

#project{
    margin-top: 120px;
    margin-bottom: 120px;

}
#project ul{
    padding: 0px;
    margin: 0px;
}
#project ul li {
    list-style-type:none;
    padding: 15px 0px;
    font-family: sans-serif;
    font-weight: 600;
}
#project ul li a{
    color: rgb(138, 126, 126);
}

#project img{
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    overflow: hidden;
}
@media (max-width:992px){
    #project ul li{
        display: inline-block !important;
        margin-right: 10px !important;
    }
    #project img{
        align-items: center !important;
    }
}

#testmonial{
    margin-top: 80px;
    padding: 120px 0px;
    background-image: url(images/slide-03.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
#testmonial h5{
      color: antiquewhite;
      padding-bottom: 20px;
}
#testmonial h2{
    color: aliceblue;
    padding-bottom: 20px;
    font-weight: 700;
}

#contact{
   
    background-image: url(images/dotted-map-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.container{
    margin-top: 100px;
}
#contact .section-heading{
    text-align: left;
}
#contact .section-heading h2{
    font-weight: 800;
    margin-bottom: 50px;
}

#contact .contact-item ul{
    padding-left: 0px !important;
}
#contact .contact-item ul li {
    list-style-type: none;
    text-align: left;
    padding-top: 30px;
    font-weight: 700;
    color: rgb(102, 101, 101);
}
#contact .contact-item ul img{
    margin-right: 20px;
}
.contact-form{
    padding-top: 40px;
}

 .contact-form input,
 textarea {
  color: #7a7a7a;
  font-size: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 100%;
  height: 46px;
  outline: none;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;

  margin-bottom: 30px;
}
::placeholder{
    color: #7a7a7a;
}
.contact-form .btn{
    background-color:rgb(66, 197, 66);
    color: #fff ;
    padding: 5px 40px;
    margin-left: 0px;
    border-radius: 19px;
    border:1px solid #fff
}
.contact-form .btn:hover{
    background-color:rgb(135, 221, 135);
    color: #fff ;
}
footer {
    padding: 30px 0px;
    background: rgb(51,155,158);
    background: linear-gradient(145deg, rgba(51,155,158,1) 0%, rgba(104,204,152,1) 100%);
  }

  footer .left-text-content p {
    color: #fff;
    font-size: 14px;
  }
  
  footer .left-text-content a {
    color: #fff;
  }
  
  footer .right-text-content {
    float: right;
  }
  
  footer .right-text-content p {
    color: #fff;
    font-size: 14px;
    margin-right: 15px;
    text-transform: uppercase;
  }
  
  footer .right-text-content ul li {
    display: inline-block;
  }
  
  footer .right-text-content ul li a {
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 50%;
    color: #5fb759;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  footer .right-text-content ul li a:hover {
    background-color: #5fb759;
    color: #fff;
  }
  
  @media (max-width: 992px) {
    footer .left-text-content p {
      text-align: center;
      margin-bottom: 30px;
    }
    footer .right-text-content {
      float: none;
      text-align: center;
    }
  }
  